.elements {
    width: 68.75%;
    margin-top: 46.25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    font-family: 'Inter';
}

@media screen and (max-width: 680px) {
    .elements {
        width: 90%;
    }
}