.avatar {
    width: 68.75%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', 'Regular', 'Medium';
}

@media screen and (max-width: 950px) {
    .avatar {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 680px) {
    .avatar {
        width: 90%;
    }
}
