.profile-info {
    max-width: 336px;
    margin-left: 30px;
    font-family: 'Inter', 'Regular', 'Medium';
}

@media screen and (max-width: 730px) {
    .profile-info {
        margin: 0;
        
    }
}

@media screen and (max-width: 470px) {
    .profile-info {
        max-width: 100%;
        
    }
}